@import "assets/css/main";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #0F265C;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color: #0F265C;
  background-color: #0F265C;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgb(255, 37, 37,.26);
}
